
.comix-page {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

.element-settings {
    
    overflow-y: scroll;
}

.del-page-button{
    overflow: hidden;
    display: block;
    width: 100%;
}